details {
  user-select: none;
}

details > summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

table,
th,
td {
  text-align: left;
  border: 1px solid black;
}

.table-wrapper {
  display: inline-block;
  height: 3;
  overflow: auto;
}

table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* == Just general styling, not relevant :) == */

table {
  border-collapse: collapse;
}

th {
  background-color: #1976d2;
  color: #fff;
}

th,
td {
  padding: 1em 0.5em;
}

table tr {
  color: #212121;
}

table tr:nth-child(odd) {
  background-color: #bbdefb;
}
